.row
  %h4 Upcoming Camp Dates:

  - if current_user
    =link_to "New Camp", new_camp_path

  %table.table.table-striped
    %tr
      %th Camp Type
      %th Start Date
      %th End Date
      %th Cost
      %th Location
      %th Remaining
      - if current_user
        %th Actions

    - camps.each do |camp|
      %tr
        %td= camp.camp_type.capitalize
        %td= camp.start_date.to_formatted_s(:long)
        %td= camp.end_date.to_formatted_s(:long)
        %td= number_to_currency(camp.price)
        %td= camp.location
        %td= 30 - camp.reservations.size
        - if current_user
          %td
            = link_to "Edit", edit_camp_path(camp)
            |
            = link_to "Delete", camp, method: :delete, confirm: "Are you sure?"
      
.row
  %h1
    = link_to "Sign Up Here", new_reservation_path
