%h3 Thank You For Your Payment

%p= "This is to confirm your payment has been made for #{@reservation.name} for the camp starting on #{@reservation.camp_start_date}."

%p= "You can view your reservation by visiting  www.swcsurfcamp.com and entering you reservation code (#{@reservation.confirmation_id}) in the search field at the bottom of the page."

%p If you have any questions, please contact us at 904-238-4716 or saltwatercowgirls@gmail.com.

%p 
  Sincerely,
  %br
  Saltwater Cowgirls
