%p= "A payment has been made for #{@reservation.name} for the camp starting on #{@reservation.camp.start_date}."

%p= "The remaining balance for this reservation is #{number_to_currency(@reservation.balance)}."
