.row
  %table.table.table-striped
    %tr
      %th Name
      %th Start Date
      %th Deposit Paid
      %th Balance
      %th Actions
    - reservations.each do |reservation|
      %tr
        %td= reservation.name
        %td= reservation.camp_start_date
        %td= reservation.paid
        %td= number_to_currency(reservation.balance)
        %td
          = link_to "View", action: 'show_admin', reservation_id: reservation.id
          |
          = link_to "Delete", reservation, method: :delete, confirm: 'Are you sure?'
