.row
  %h3= "Reservation for #{reservation.name}"
  
  %p
    %em Camp Start Date:
    = reservation.camp.start_date.to_formatted_s(:long)
  
  %p
    %em Camp Location:
    = reservation.camp.location
  
  %p
    %em Confirmation ID:
    = reservation.confirmation_id

- if reservation.balance > 0
  .row
    %p= "You have an unpaid balance of #{number_to_currency(reservation.balance)}. Please make pay in full by the Wednesday prior to the camp start date to maintain your reservation."

    %h4 Payment Options

    %p Click here to pay now via PayPal
    = link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), controller: 'paypal_express', action: 'checkout', reservation_id: reservation.id, payment_amount: reservation.balance, payment_type: "secondary"

- else
  .row
    %p Your reservation has been paid in full. Thank you!
