!!! 5
%html
  %head
    %title Salt Water Cowgirls Surf Camp
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Dawning+of+a+New+Day'
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .main
      .banner
      .nav
        %ul
          %li Lessons
          %li Camp Dates
          %li Gallery
          %li Location
      .notice
        -flash.each do |name, msg|
          -if msg.is_a?(String)
            .row
              %div{class: "alert alert-#{name == :notice ? "success" : "error"}"}
                =msg

      = yield
      .row

      .footer
        .row.text-centered
          - if current_user
            =link_to 'Log Out', '/log_out'
          -else
            =link_to "Admin Log In", '/log_in'

        .row
          %p
            All content &copy;2013 Lesley Curry. Web site developed by Daniel Bearl.
