!!! 5
%html
  %head
    %title Salt Water Cowgirls Surf Camp
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Dawning+of+a+New+Day'
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .main
      .banner
      .nav
        %ul
          %li= link_to "Lessons", '/lessons'
          %li= link_to "Camp Dates", camps_path
          %li= link_to "Gallery", '/pictures/gallery'
          %li= link_to "Location", '/location'
          
      -flash.each do |name, msg|
        -if msg.is_a?(String)
          .row
            %div{class: "alert alert-#{name == :notice ? "success" : "error"}"}
              =msg

      = yield
      .row

      .footer
        .row
          =form_tag controller: 'reservations', action: 'search' do
            =label_tag :query, 'Look Up Reservation'
            =text_field_tag :query
            =submit_tag 'Search'
        .row.text-centered
          = link_to "Home", root_path
          |
          - if current_user
            =link_to 'Log Out', '/log_out'
            |
            =link_to "View/Manage Reservations", reservations_path
          -else
            =link_to "Admin Log In", '/log_in'
        .row.text-centered
          %p 
            Phone: 904-238-4716
            | E-Mail:
            = mail_to 'saltwatercowgirls@gmail.com'

        .row.text-centered
          %p
            All content &copy;2013 Lesley Curry. Web site developed by Daniel Bearl.
